<app-top-bar></app-top-bar>
<h1>Affaire {{this.id}}:</h1>
<ng-container *ngFor="let record of this.relatedRecords">

  <h3 style="margin: 20px" [ngStyle]="{'color':
       record.Sexe.toLowerCase().includes('h')?'blue':
       (record.Sexe.toLowerCase().includes('enfant')?'green': 'pink')}">
    {{record.Nom.toUpperCase()}} {{record.Prenom}}</h3>
  <div style="margin: 50px; width: calc(100% - 100px)" class="information">
    <ng-container>
    <div style="margin: 20px">
<!--      <div></div>-->
      <div *ngIf="record.Metier.length>1" >Métier: {{record.Metier}}</div>
      <div *ngIf="record.Lieudevie.length>1" >Domicile: {{record.Lieudevie}}</div>
      <div *ngIf="record.Lieudarrestation.length>1" >Arrêté à {{record.Lieudarrestation}}</div>
      <div *ngIf="record.Raisondelarrestation.length>1" >Crime: {{record.Raisondelarrestation}}</div>
    </div>
    </ng-container>

    <ng-container *ngIf="record.RENSEIGNMENTECROUX.length>1">
    <h4 >Ecrou:</h4>
    <div>{{record.RENSEIGNMENTECROUX}}</div>
    </ng-container>

    <ng-container
      *ngIf="record.Localisationduverbal.length>1 ||
     record.Datedarrestationdateduverbal.length>1 ||
     record.Quilaarreteredigeleverbal.length>1 ||
     record.renseignementdansleverbal.length>1">
    <h4>Verbal:</h4>
    <div style="margin: 10px">
      <div class="inlineBlock" *ngIf="record.Localisationduverbal.length>1">{{record.Localisationduverbal}}</div>
      <div class="inlineBlock" *ngIf="record.Localisationduverbal.length>1 && record.Datedarrestationdateduverbal.length>1">{{", "}}</div>
      <div class="inlineBlock" *ngIf="record.Datedarrestationdateduverbal.length>1">{{record.Datedarrestationdateduverbal}}</div>
      <div *ngIf="record.Quilaarreteredigeleverbal.length>1" >{{record.Quilaarreteredigeleverbal}}</div>
      <div *ngIf="record.renseignementdansleverbal.length>1" >{{record.renseignementdansleverbal}}</div>
    </div>
    </ng-container>

    <ng-container *ngIf="record.Registredarretoubrouillard.length>1 || record.Datedelarret.length>1">
    <h4>Arrêt/Brouillard:</h4>
    <div style="margin: 10px">
      <div class="inlineBlock" *ngIf="record.Registredarretoubrouillard.length>1">{{record.Registredarretoubrouillard}}</div>
      <div class="inlineBlock" *ngIf="record.Registredarretoubrouillard.length>1 && record.Datedelarret.length>1">{{", "}}</div>
      <div class="inlineBlock" *ngIf="record.Datedelarret.length>1">{{record.Datedelarret}}</div>
    </div>
    </ng-container>

    <ng-container *ngIf="record.LocalisationDuRegistre.length>1 || record.Registredecommisaire.length>1">
    <h4>Registre de distribution:</h4>
    <div style="margin: 10px">
      <div *ngIf="record.LocalisationDuRegistre.length>1">{{record.LocalisationDuRegistre}}</div>
      <div *ngIf="record.Registredecommisaire.length>1">{{record.Registredecommisaire}}</div>
    </div>
    </ng-container>

    <ng-container
      *ngIf="record.Registrederemission.length>1 ||
     record.Date.length>1 ||
     record.Endroitdouviennentlespiece.length>1 ||
     record.Informationsupplementaire.length>1">
    <h4>Registre de remission:</h4>
    <div style="margin: 10px">
      <div>{{record.Registrederemission}}{{", "}}{{record.Date}}</div>
      <div *ngIf="record.Endroitdouviennentlespiece.length>1">{{record.Endroitdouviennentlespiece}}</div>
      <div *ngIf="record.Informationsupplementaire.length>1">{{record.Informationsupplementaire}}</div>
    </div>
    </ng-container>

    <ng-container
      *ngIf="record.Registrecomplet.length>1 ||
     record.dateduregistre.length>1">
    <h4>Registre des arrêts au propre:</h4>
    <div style="margin: 10px">
      <div class="inlineBlock" *ngIf="record.Registrecomplet.length>1">{{record.Registrecomplet}}</div>
      <div class="inlineBlock" *ngIf="record.Registrecomplet.length>1&&record.dateduregistre.length>1">{{", "}}</div>
      <div class="inlineBlock" *ngIf="record.dateduregistre.length>1">{{record.dateduregistre}}</div>
      <div>{{record.Surquoiportelarret}}</div>
      <div>{{record.Detailutilise}}</div>
    </div>
    </ng-container>

    <ng-container
      *ngIf="record.LocalisationDeuxiemeMention.length>1 ||
     record.DeuxiemeMentionRegistreDistrib.length>1">
    <h4>Deuxième mention:</h4>
    <div style="margin: 10px">
      <div *ngIf="record.LocalisationDeuxiemeMention.length>1">{{record.LocalisationDeuxiemeMention}}</div>
      <div *ngIf="record.DeuxiemeMentionRegistreDistrib.length>1">{{record.DeuxiemeMentionRegistreDistrib}}</div>
    </div>
    </ng-container>

    <ng-container *ngIf="record.Ajoutinformationautrebasededonnecommecelledesgaleriens.length>1 ">
    <h4>Base de données des Galériens:</h4>
    <div style="margin: 10px">
      <div>{{record.Ajoutinformationautrebasededonnecommecelledesgaleriens}}</div>
    </div>
    </ng-container>

  </div>
  <hr>
</ng-container>
<!--  <div class="cell header">Moment de l'affaire</div>-->
<!--  <div class="cell header">Lien de Parenté</div>-->
<!--  <div class="cell header">Présence dans les prisons du parlement de Grenoble</div>-->
<!--  <div class="cell header">Abjuration</div>-->

<!--<ng-container *ngFor="let record of this.relatedRecords">-->
<!--  <div class="cell"><div class="tableContent">{{record.Momentdelaffaire}} </div> </div>-->
<!--  <div class="cell"><div class="tableContent">{{record.Indicationfamiliale}} </div> </div>-->
<!--  <div class="cell"><div class="tableContent">{{record.Presentedanslaprisons}} </div> </div>-->
<!--  <div class="cell"><div class="tableContent">{{record.ADJURATION}} </div> </div>-->
<!--</ng-container>-->
