<form>
  <div class="form-group form-inline">
    Chercher une valeur: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 2%"  scope="col">#</th>
      <th style="width: 2%" scope="col" sortable="date" (sort)="onSort($event)">date</th>
      <th style="width: 2%" scope="col" sortable="nom" (sort)="onSort($event)">nom</th>
      <th style="width: 2%" scope="col" sortable="prenom" (sort)="onSort($event)">prenom</th>
      <th style="width: 2%" scope="col" sortable="moment" (sort)="onSort($event)">document principal</th>
      <th style="width: 2%" scope="col" sortable="sexe" (sort)="onSort($event)">sexe</th>
      <th style="width: 2%" scope="col" sortable="metier" (sort)="onSort($event)">metier</th>
    </tr>
    </thead>
    <tbody>
    <tr class="protestantLine" *ngFor="let country of this.countries$ | async" (click)="open(country)">
      <th style="width: 2%" scope="row">{{ country.Numerodelaffaire }}</th>
      <td style="width: 2%"><ngb-highlight [result]="country.DateToDisplay" [term]="service.searchTerm"></ngb-highlight></td>
      <td style="width: 2%"><ngb-highlight [result]="country.Nom" [term]="service.searchTerm"></ngb-highlight></td>
      <td style="width: 2%"><ngb-highlight [result]="country.Prenom" [term]="service.searchTerm"></ngb-highlight></td>
      <td style="width: 2%"><ngb-highlight [result]="country.Momentdelaffaire" [term]="service.searchTerm"></ngb-highlight></td>
      <td style="width: 2%"><ngb-highlight [result]="country.Sexe" [term]="service.searchTerm"></ngb-highlight></td>
      <td style="width: 2%"><ngb-highlight [result]="country.Metier" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

</form>
